.post{
    margin: 3% 0 ;
    width: 100%;
    padding-left: 3%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.head{
    font-size: 20px;
    font-weight: bold;
}
.description{
    width: 100%;
}